:root {
    --bg: #F8F8FB;

    --primary-blue: #303188;
    --accent-blue: #0056D2;
    --navy-blue: #04294E;
    --primary-red: #F20F10;
    --accent-red: #EE5D50;

    --card-header-color: #0F2239;
    --card-bg: #F3F7FB;

    --white: #FFFFFF;
    --primary-black: #000000;
    --accent-black: #444444;

    --base: 1rem;
    --scale: 1.2;
    --small: calc(var(--base) / var(--scale));
    --h6: calc(var(--base) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));

    --header-font: 'Nunito', serif;
    --body-font: 'Open Sans', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.h6,
h6 {
    font-size: var(--h6);
}

.h5,
h5 {
    font-size: var(--h5);
}

.h4,
h4 {
    font-size: var(--h4);
}

.h3,
h3 {
    font-size: var(--h3);
}

.h2,
h2 {
    font-size: var(--h2);
}

.h1,
h1 {
    font-size: var(--h1);
}

.small {
    font-size: var(--small);
}

body {
    font-family: var(--body-font);
    max-width: 1400px;
    margin: 0 auto;
}

header,
footer,
section {
    padding-left: 7%;
    padding-right: 7%;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--primary-blue);
}

#header {
    padding-top: 1.5rem;
    background-color: var(--bg);
}

.nav-links {
    display: flex;
    column-gap: 1rem;
    font-size: var(--small);
    font-weight: 400;
    align-items: center;
}

.cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 8px;
}

.btn-cta,
.cta a {
    padding: 12px 49px;
    font-size: 12px;
    border: 1px solid var(--primary-blue);
    border-radius: 4px;
}

.btn-sign-in {
    background-color: var(--primary-blue);
    color: var(--white);
}

.row {}

/* Section Hero */
#section-hero {
    background: var(--bg);
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
}

#section-hero .decor svg {
    position: absolute;
}

#section-hero .decor-1{
    right: -5%;;
    top: 0;
}

#section-hero .decor-2 {
    bottom: -50%;
}

#section-hero .decor-3 {
    right: 0;
}

#section-hero .decor-4 {
    bottom: 10%;
    right: 10%;
}


#section-hero .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#section-hero .row div.col {
    width: fit-content;
    margin: 0 auto;
}

#section-hero .row .col {
    position: relative;
}

#section-hero .row .col:nth-child(1) .content {
    height: fit-content;
}

#section-hero .row .col:nth-child(1) .content > * {
    margin: 8px;
}

#section-hero span.h6,
#section-hero p {
    color: var(--accent-black);
    font-size: var(--h6);
}

#section-hero h1 {
    color: var(--navy-blue);
    font-family: var(--header-font);
    font-weight: 600;
}

.btn-cta {
    font-size: 0.875rem;
    background-color: var(--primary-blue);
    color: var(--white);
    display: inline-block;
}

/* Section Categories */
#section-category {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 11%;
    position: relative;
}

.title-1,
.title-1 div {
    display: flex;
    align-items: center;
}

.title-1 div > * {
    margin-right: 8px;
}

.title-1 {
    justify-content: space-between;
}

.title-1 span {
    font-weight: 600;
    color: var(--accent-blue);
}

.title-2 h2 {
    font-weight: 600;
    font-family: var(--header-font);
    font-size: var(--h3);
    
}

#section-category .content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.cta-category,
.cta-about,
.cta-programs {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: var(--small);
    padding: 12px 24px;
    background-color: var(--primary-blue);
    border-radius: 4px;
    color: var(--white);
    font-weight: 600;
    font-family: var(--body-font);
}

.cta-category svg {
    fill: var(--white);
}

#section-category .content .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

#section-category .content .card {
    font-family: var(--body-font);
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 187px;
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

#section-category .content .card svg {
    fill: var(--primary-blue);
}

#section-category .content .card .card-header{
    padding: 13px;
    background-color: var(--card-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
}

#section-category .content .card .card-body h5 {
    font-size: var(--base);
    font-weight: 600;
    color: var(--card-header-color);
}

#section-category .content .card .card-body p {
    font-size: var(--small);
    font-weight: 400;
}

#section-category .content .card .card-footer a {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: var(--small);
    font-weight: 600;
}

#section-category .decor .decor-1{
    position: absolute;
    top: 19%;
    z-index: -1;
}

/* Section Aabout */
#section-about {
    margin: 4rem auto;
}

#section-about .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#section-about .row .col {
    margin: 0 auto;
    position: relative;
}

#section-about .row .col:nth-child(2) {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

#section-about .about-frame {
    position: absolute;
    width: 462px;
    height: 462px;
    z-index: -1;
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 40px;
    transform: rotate(260deg);
}

#section-about .decor svg {
    position: absolute;
}

#section-about .decor svg:nth-child(1) {
    right: -5%;
    top: -10%;
}

#section-about .decor svg:nth-child(2) {
    top: 50%;
    left: -16%;
}

#section-about .cta-about {
    width: fit-content;
}

#section-about .content p {
    font-weight: 400;
    color: var(--accent-black);
}

/* Section Programs */
#section-programs {
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

#section-programs .title h2 {
    font-weight: 600;
    text-align: center;
    color: #04294E;
}

#section-programs .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.card-course {
    height: 357px;
    border-radius: 8px;
    width: 255px;
    margin: 0 auto;
    box-shadow: 0px 2px 6px 0px rgba(19, 21, 21, 0.25);
    position: relative;
}

.card-course .tag {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--small);
    background-color: var(--primary-red);
    border-radius: 8px 0px 8px 0px;
    color: var(--white);
    padding: 0.5rem 1.1rem;
    font-family: var(--body-font);
    font-weight: 700;
}

#section-programs .card-course .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    row-gap: 8px;
    margin-top: 8px;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--bg);
}

#section-programs .card-course .category {
    color: var(--accent-blue);
    font-family: var(--body-font);
    font-size: var(--small);
}

#section-programs .card-course .card-body h3 {
    font-size: var(--base);
    font-weight: 600;
}

#section-programs .card-course .card-body .description {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

#section-programs .card-course .description .lessons,
#section-programs .card-course .description .students{
    font-size: var(--small);
}

.card-course .rating {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-size: var(--small);
    font-weight: 400;
    color: #4D5765;
}

#section-programs .card-course .card-footer {
    padding: 0 1rem;
    margin: 1rem 0;
}

#section-programs .card-footer .prices {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

#section-programs .card-course .card-footer .original {
    text-decoration: line-through;
    color: var(--accent-red);
    font-weight: 400;
    font-size: var(--small);
}

#section-programs .card-course .card-footer .discounted {
    font-size: var(--base);
    font-weight: 600;
    color: var(--primary-blue);
}

.cta-programs {
    width: fit-content;
    margin: 0 auto;
}